.announcement-bar {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 5px 0;
  will-change: transform; 
  transform: translateZ(0); 
}

.announcement-track {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
}

.announcement-item {
  display: inline-flex;
  align-items: center;
}

.announcement-item span {
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.new-badge {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  animation: pulse 1.2s infinite;
}

/* ✅ Correct animation */
@keyframes scrollText {
  0% {
    transform: translateX(100%);   /* start from right OUTSIDE */
  }
  100% {
    transform: translateX(-100%);  /* go fully left OUTSIDE */
  }
}


.new-badge-text {
  display: inline-flex;            
  align-items: center;
  justify-content: center;

  background-color: green;
  color: white !important;

  font-size: 8px;                 
  font-weight: bold;

  padding: 6px 10px;           
  /* border-radius: 4px; */
   border-radius: 20px 0 0 20px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */

  margin-right: 10px;

  line-height: 1;                  /* fix text cut issue */
  white-space: nowrap;


}
